* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
}

.container {
    margin: 50px auto;
    max-width: 300px;
    width: 100%;
}

form {
    margin-top: 15px;
    display: flex;
    grid-column-gap: 3px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 50%;
    resize: none;
}

button {
    background-color: #6b2ecc;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: #fcbb09;
}

.success-message {
    background-color: #011491;
    padding: 16px;
    color: #fff;
    display: none;
}

.error-message {
    
    padding: 8px;
    background-color: red;
    color: #fff;
    margin-bottom: 8px;
    display: none;
}

input.error {
    color:  red;
    border-color: red;
    outline-color: red;
}